{% extends 'refuerzo86/layout2.html' %}

{% block content %}
<!--seccion con info de los productos-->
<section class="content productos" id="productos.h">
    <p>
        BUENO ACA VAMOS A PONER LO QUE TENEMOS A LA VENTA. AHORA SE ME OCURREN clases
        Y algunas cosas grabadas? gratis? 
    </p>
<!--imagen de la seccion con info de los productos-->

<figure>
    <img src= "../../static/img/prueba.jpg" height="420px" width="110%"
     alt="productos">
</figure>
</section>

{% endblock content %}