{% extends 'refuerzo86/layout2.html' %}

{% block content %}
<!--seccion con info de los precios-->
<section class="content precio" id="precio.h">
   <p>
      Acá van los precios, vamos a poner que es depende el grado de la materia.
      Descuentos abonando packs de clases.
      consultar precios.
      Métodos de pago
   </p>
<!--imagen de la seccion con info de los precios-->

   <figure>
      <img src= "../../static/img/prueba.jpg" height="420px" width="110%"
       alt="precios y promos">
  </figure>
</section>

{% endblock content %}