* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    top: 0px;
    text-align: center;
    font-family: sans-serif;
    background-image: url(../img/header.jpg);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #321ee9;
    position: fixed;
    width: 100%;
    z-index: 100;

}

.content {
    position: relative;
    top:100px;
    margin:auto auto auto auto; /* centra section */;
    min-height:420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.precio {
    min-height:420px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    background-size: cover;
}