* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #321ee9;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo-header {  
     background-image:url(../img/logo.jpg) ; alt: "refuerzo86";
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     width: 100%;
     height: 100%;
    }

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;

    
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background:  rgb(236, 236, 29);
    
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #6453f6;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    background-color: #30303074;
    color: rgb(255, 255, 255);
    padding: 0 150px;

}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #321ee9;
    color:  rgb(236, 236, 29);
    text-decoration: none;
    background: #321ee9;
}

.btn:hover {
    background: none;
}

.content {
    position: relative;
    top:100px;
    margin:auto auto auto auto; /* centra section */;
    min-height:420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio {
    min-height:420px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    background: url(../img/header.jpg) no-repeat center;
    background-size: cover;
}

.precios {
    margin:auto auto auto auto; /* centra section */
    padding: 50px 0;
    background: #303030;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: centers;
}

.box-container .box {
    height: 170px;
    width: 270px;
    background: #171717;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    margin: 20px;
}

.box-container .box i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #321ee9;
    font-size: 25px;
    margin: 10px 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #321ee9;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.productos {
    background: url(../img/costos.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.about {
    background: url(../img/fractal.jpg) no-repeat center;
    padding: 50px 0;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}

.box-container2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.box-container2 .box {
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    background: #171717;
    margin: 20px 20px;
}

.box-container2 .box img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
    border: 6px solid #321ee9;
}

.box-container2 .box h3 {
    font-size: 20px;
    color:rgb(236, 236, 29);
    padding-top: 10px;
}

.box-container2 .box p {

    font-size: 18px;
    color: #fff;
    padding: 0;
}

.box-container2 .box .stars i {
    font-size: 15px;
    color: rgb(236, 236, 29);
}

.contact {
    padding: 50px 0;
    background: #171717;
}


.footer-section{
    display: flex;

}

.f-enlaces {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.f-enlaces a {
    color: #fff;
    text-decoration: none;
    margin-top: 0px;
}

@media (max-width: 768px) {
    p {
        padding: 0 50px;
    }
    .title{
        margin-bottom: 0px;
        font-size: 40px;
    }
    .sau {
        height: 100vh;
        padding: 50px 0;
    }
    .about {
        height: 100vh;
        padding: 50px 0;
    }
    .footer-section {
        display: flex;
        flex-direction: column;
    }
    .f-enlaces {
        display: none;
    }

    .navbar {
        display: none;
    }
}